In [ ]:
import pandas as pd
import numpy as np

coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')


results = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/results.csv')
bios=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

print(coffee)

In [24]:
coffee.loc[[1,2,5]] # Selecting multiple rows by index labels

         Day Coffee Type  Units Sold
1     Monday       Latte          15
2    Tuesday    Espresso          30
5  Wednesday       Latte          25

In [25]:
coffee.loc[1] # Selecting a single row by index label

Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object

In [31]:
coffee.loc[0:2,['Day','Coffee Type']]

       Day Coffee Type
0   Monday    Espresso
1   Monday       Latte
2  Tuesday    Espresso

In [ ]:

coffee.loc[1,'Units Sold'] = 10 # Updating a single value
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
coffee.sort_values(['Units Sold','Day'],ascending=[0,1]) # sort units sold in descending order and day in ascending order